@import "tailwindcss";
@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
@layer components {
}

/* scroll bar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


